<ng-container *ngIf="flower !== undefined">
  <p>
    <span class="flower_label">Flower:</span>
    <span class="flower_name">{{flower.label}}</span>
  </p>
  <p>
    <img [src]='flower.largeImgSrc' [alt]='flower.label' class='flower_image'>
  </p>
  <div class="text_box">
    {{flower.description}}
  </div>
</ng-container>
<ng-container [ngSwitch]="loadingState">
  <p class="message" *ngSwitchCase="LoadingState.LOADING">
    Loading the Data (Fake Delay).
  </p>
  <p class="message" *ngSwitchCase="LoadingState.ERROR">
    The Data is Not Found.
  </p>
</ng-container>
<p>
  <a routerLink="/">Flower Catalog</a>
</p>

